<!-- MP Practicals 
Practical 1 
AIM:- Introduction of Cordova. 
CORDOVA is a platform for building hybrid mobile using 
HTML, CSS, and java script. 
Cordova Features 
Command Line Interface (Cordova CLI) 
This tool can be used for starting projects, building 
processes for different platforms, installing plugins and lot 
of other useful things that make the development process 
easier. 
Cordova Core Components
Cordova offers a set of core components that every mobile 
application needs. These components will be used for 
creating base of the app so we can spend more time to 
implement our own logic. 
Cordova Plugins 
Cordova offers API that will be used for implementing 
native mobile functions to our JavaScript app.
Cordova Advantages 
• Cordova offers one platform for building hybrid mobile 
apps so we can develop one app that will be used on 
different mobile platforms – IOS, Android, Windows Phone, 
Amazon-fireos, blackberry, Firefox OS, Ubuntu and tizien. 
• It is faster to develop hybrid app then native app so 
Cordova can save on the development time. 
• Since we are using JavaScript when working with 
Cordova, we don't need to learn platform specific 
programming languages. 
• There are many community add-ons that can be used 
with Cordova, these have several libraries and frameworks, 
which are optimized for working with it. 
Cordova Limitations 
Following are the limitations of Cordova. 
• Hybrid apps are slower than native ones so it is not 
optimal to use Cordova for large apps that require lots of 
data and functionality. 
• Cross browser compatibility can create lots of issues. 
Most of the time we are building apps for different 
platforms so the testing and optimizing can be time 
consuming since we need to cover large number of devices 
and operating systems. 
• Some plugins have compatibility issues with different 
devices and platforms. There are also some native APIs 
that are not yet supported by Cordova.
Practical 2A 
AIM:- To create and build simple “Hello world” App 
using cordova. 
• Open command prompt and create directory SYITMP in 
E: drive
md SYITMP 
cd SYITMP
•To create first app named pract2a
cordova create pract2a io.cordova.hellocordova 
HelloWorldApp
•To add platform
cd pract2a
cordova platform add android
•In E:\SYITMP\pract2a\www open index.html
<body>
<div class="app">
<h1>My First Cordova App</h1>
<div id="deviceready" class="blink">
<h1>HELLO WORLD</h1>
</div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
•On command prompt
cordova build android 
cordova emulate android
Practical 2B 
AIM:- To create and build simple “Hello world” App 
using default button(Volume UP and Back button) 
with event listner. 
• Open command prompt and go to directory SYITMP in E: 
drive
cd SYITMP
•To create first app named pract2b
cordova create pract2b io.cordova.hellocordova 
DefaultButtonApp
•To add platform
cd pract2b
cordova platform add android
•In E:\SYITMP\pract2b\www open index.html
<body>
<div class="app">
<h1>My First Cordova App</h1>
<div id="deviceready" class="blink">
<h1>HELLO WORLD</h1>
</div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract2b\www\js open index.js
var app = {
// Application Constructor
initialize: function()
{
document.addEventListener('deviceready',this.onDevice
Ready.bind(this), false);
document.addEventListener("volumeupbutton",callback
Function,false);
document.addEventListener("backbutton",onBackKeyDown
,false);
},
app.initialize();
function callbackFunction()
{
 alert(' Volume Up Button is pressed!');
}
function onBackKeyDown(e)
{
 e.preventDefault();
 alert(' Back Button is pressed!');
}
•On command prompt
cordova build android 
cordova emulate android
Practical 3 
AIM:- To create and build to create buttons and event 
listner. 
• Open command prompt and go to directory SYITMP in E: 
drive
cd SYITMP
•To create first app named pract3
cordova create pract3 io.cordova.hellocordova ButtonApp
•To add platform
cd pract3
cordova platform add android
•In E:\SYITMP\pract3\www open index.html
<body>
<div class="app">
<h1>EVENT HANDLING</h1>
<div id="deviceready" class="blink">
<button id="setAdd">ADD</button><br>
<button id="setUpdate">UPDATE</button><br>
<button id="setDelete">DELETE</button><br>
<button id="setClose">CLOSE</button><br>
</div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract3\www\js open index.js
var app = {
// Application Constructor
initialize: function() 
{
document.addEventListener('deviceready',this.onDevice
Ready.bind(this),false); 
document.getElementById("setAdd").addEventListener(
"click",setAddFun); 
document.getElementById("setUpdate").addEventListener(
"click",setUpdateFun); 
document.getElementById("setDelete").addEventListener(
"click",setDeleteFun); 
document.getElementById("setClose").addEventListener(
"cick",setcloseFun);
},
app.initialize();
function setAddFun()
{
 alert('you can Add Data');
}
function setUpdateFun()
{
 alert('you can Update Data');
}
function setDeleteFun()
{
 alert('you can Delete Data');
}
function setcloseFun()
{
 alert('you can close Your App');
}
•On command prompt
cordova build android 
cordova emulate android
 
Practical 4A 
AIM:- To install and use battery plugin. 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract4a
cordova create pract4a io.cordova.hellocordova BatteryApp
•To add platform
cd pract4a
cordova platform add android
•To add plugin
cordova plugin add cordova-plugin-battery-status
•In E:\SYITMP\pract4a\www open index.html
Keep this file as it is.
• In E:\SYITMP\pract4a\www\js open index.js
onDeviceReady: function() 
{
this.receivedEvent('deviceready');
 window.addEventListener("batterystatus", 
onBatteryStatus, false);
};
app.initialize();
function onBatteryStatus(info)
{
alert("BATTERY STATUS: Level : " + info.level + " isPlugged: 
" + info.isPlugged);
}
•On command prompt
cordova build android 
cordova emulate android
Practical 4B 
AIM:- To install and use camera plugin. 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract4b
cordova create pract4b io.cordova.hellocordova 
CameraApp
•To add platform
cd pract4b
cordova platform add android
•To add plugin
cordova plugin add cordova-plugin-camera
•In E:\SYITMP\pract4b\www open index.html
<body>
<div class="app">
<h1>Hello World</h1>
<button id="cameraTakePicture">TAKE PICTURE</button>
<img id="myImage"></img>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract4b\www\js open index.js
var app = {
// Application Constructor
initialize: function() 
{
document.addEventListener('deviceready',this.onDevice
Ready.bind(this), false);
document.getElementById("cameraTakePicture").addEvent
Listener("click", cameraTakePicture); 
};
 
app.initialize();
function cameraTakePicture() 
{ 
 navigator.camera.getPicture(onSuccess, onFail, 
{ 
 quality: 50, 
 destinationType: Camera.DestinationType.DATA_URL 
}
);
function onSuccess(imageData) 
{ 
 var image = document.getElementById('myImage'); 
 image.src = "data:image/jpeg;base64," + imageData; 
}
function onFail(message) 
{ 
 alert('Failed because: ' + message); 
} 
}
•On command prompt
cordova build android 
cordova emulate android
Practical 5A 
AIM:- To install and use contact plugin. 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract5a
cordova create pract5a io.cordova.hellocordova 
ContactApp
•To add platform
cd pract5a
cordova platform add android
•To add plugin
cordova plugin add cordova-plugin-contact
•In E:\SYITMP\pract5a\www open index.html
<body>
<div class="app">
<h1>Contact App</h1>
<div id="deviceready" class="blink">
<p class="event listening">Connecting to Device</p>
<p class="event received">Device is Ready</p>
<button id="createContact">ADD CONTACT</button>
<button id="findContact">FIND CONTACT</button>
<button id="deleteContact">DELETE CONTACT</button>
</div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract5a\www\js open index.js
var app = {
// Application Constructor
initialize: function() 
{
document.addEventListener('deviceready',this.onDevice
Ready.bind(this), false);
document.getElementById("createContact").addEvent
Listener("click",createContact);
document.getElementById("findContact").addEventListener
("click",findContact); 
document.getElementById("deleteContact").addEvent
Listener("click",deleteContact);
},
app.initialize();
function createContact()
{
var myContact1=navigator.contacts.create({"displayName":
" Chris"});
myContact1.save(contactSuccess,contactError);
function contactSuccess()
{
 alert("Contact is saved!");
}
function contactError()
{
 alert('Failed because:'+message);
}
}
function findContact()
{
var options=new ContactFindOptions();
options.filter="";
options.multiple=true;
fields=["displayName"]; 
navigator.contacts.find(fields,contactfindSuccess,contact
findError,options);
function contactfindSuccess(contacts)
{
for(var i=0;i<contacts.length;i++)
{
 alert("Display Name="+contacts[i].displayName) 
}
} 
function contactfindError(message)
{
 alert('Failed because:'+message);
}
}
function deleteContact()
{
var options=new ContactFindOptions();
options.filter="Chris";
options.multiple=false;
fields=["displayName"]; 
navigator.contacts.find(fields,contactfindSuccess,contact
findError,options);
function contactfindSuccess(contacts)
{
var contact=contacts[0]; 
contact.remove(contactRemoveSuccess,contactRemove
Error); 
function contactRemoveSuccess(contacts)
{
 alert("Contact Deleted");
}
function contactRemoveError(message)
{
 alert('Failed because:'+message);
}
} 
function contactfindError(message)
{
 alert('Failed because:'+message);
}
}
•On command prompt
cordova build android 
cordova emulate android
Practical 5B 
AIM:- To install and use device plugin. 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract5b
cordova create pract5b io.cordova.hellocordova DeviceApp
•To add platform
cd pract5b
cordova platform add android
•To add plugin
cordova plugin add cordova-plugin-device
•In E:\SYITMP\pract5b\www open index.html
<body>
<div class=”app”>
<h1>Apache Cordova</h1>
<div id=”deviceready” class=”blink”>
<button id = "cordovaDevice">CORDOVA DEVICE</button>
</div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract5a\www\js open index.js
var app = {
// Application Constructor
initialize: function() 
{
document.addEventListener('deviceready',this.onDevice
Ready.bind(this), false);
document.getElementById("cordovaDevice").addEvent
Listener("click", cordovaDevice);
},
app.initialize();
function cordovaDevice() 
{
 alert("Cordova version: " + device.cordova + "\n" +
 "Device model: " + device.model + "\n" +
 "Device platform: " + device.platform + "\n" +
 "Device UUID: " + device.uuid + "\n" +
 "Device version: " + device.version);
}
•On command prompt
cordova build android 
cordova emulate android
Practical 5C 
AIM:- To install and use accelerometer plugin. 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract5c
cordova create pract5c io.cordova.hellocordova AccelApp
•To add platform
cd pract5c
cordova platform add android
•To add plugin
cordova plugin add cordova-plugin-motion
•In E:\SYITMP\pract5c\www open index.html
<body>
<div class="app">
<h1>Apache Cordova</h1>
<div id="deviceready" class="blink">
<p class="event listening">Connecting to Device</p>
<p class="event received">Device is Ready</p>
<button id = "getAcceleration">GET
ACCELERATION</button>
<button id = "watchAcceleration">WATCH
ACCELERATION</button>
</div>
</div> 
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract5a\www\js open index.js
var app = {
// Application Constructor
initialize: function() 
{
document.addEventListener('deviceready',this.onDevice
Ready.bind(this), false);
document.getElementById("getAcceleration").addEvent
Listener("click", getAcceleration);
document.getElementById("watchAcceleration").addEvent
Listener("click", watchAcceleration);
app.intialize();
function getAcceleration() 
{
 navigator.accelerometer.getCurrentAcceleration(
 accelerometerSuccess, accelerometerError);
function accelerometerSuccess(acceleration) 
{
 alert('Acceleration X: ' + acceleration.x + '\n' +
 'Acceleration Y: ' + acceleration.y + '\n' +
 'Acceleration Z: ' + acceleration.z + '\n' +
 'Timestamp: ' + acceleration.timestamp + '\n');
};
function accelerometerError() 
{
 alert('onError!');
};
}
function watchAcceleration() 
{
 var accelerometerOptions = 
{
 frequency: 3000
}
var watchID=navigator.accelerometer.watchAcceleration(
accelerometerSuccess,accelerometerError,accelerometer
Options);
function accelerometerSuccess(acceleration) 
{
 alert('Acceleration X: ' + acceleration.x + '\n' +
 'Acceleration Y: ' + acceleration.y + '\n' +
 'Acceleration Z: ' + acceleration.z + '\n' +
 'Timestamp: ' + acceleration.timestamp + '\n');
setTimeout(function() 
{
 navigator.accelerometer.clearWatch(watchID);
}, 10000);
}
function accelerometerError() 
{
 alert('onError!');
};
}
•On command prompt
cordova build android 
cordova emulate android
Practical 6A 
AIM:- To install and use device orientation plugin. 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract6a
cordova create pract6a io.cordova.hellocordova 
DeviceOrientApp
•To add platform
cd pract6a
cordova platform add android
•To add plugin
cordova plugin add cordova-plugin-device-orientation
•In E:\SYITMP\pract6a\www open index.html
<body>
<div class="app">
<h1>Apache Cordova</h1>
<div id="deviceready" class="blink">
<button id = "getOrientation">GET ORIENTATION</button>
<button id = "watchOrientation">WATCH 
ORIENTATION</button>
<p class="event listening">Connecting to Device</p>
<p class="event received">Device is Ready</p>
</div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract6a\www\js open index.js
var app = {
// Application Constructor
initialize: function() 
{
document.addEventListener('deviceready',this.onDevice
Ready.bind(this), false);
document.getElementById("getOrientation").addEventListe
ner("click", getOrientation);
document.getElementById("watchOrientation").addEventLis
tener("click", watchOrientation);
},
app.initialize();
function getOrientation() 
{
 navigator.compass.getCurrentHeading(compassSuccess, 
compassError);
function compassSuccess(heading) 
{
 alert('Heading: ' + heading.magneticHeading);
};
function compassError(error) 
{
 alert('CompassError: ' + error.code);
};
}
function watchOrientation()
{
 var compassOptions = 
{
 frequency: 3000
}
var watchID
navigator.compass.watchHeading(compassSuccess, 
 compassError, compassOptions);
function compassSuccess(heading) 
{
 alert('Heading: ' + heading.magneticHeading);
 setTimeout(function() 
 {
 navigator.compass.clearWatch(watchID);
 }, 10000);
};
function compassError(error) 
{
 alert('CompassError: ' + error.code);
};
}
•On command prompt
cordova build android 
cordova emulate android
Practical 6B 
AIM:- To install and use device orientation plugin. 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract6b
cordova create pract6a io.cordova.hellocordova PromptApp
•To add platform
cd pract6b
cordova platform add android
•To add plugin
cordova plugin add cordova-plugin-dialogs
•In E:\SYITMP\pract6b\www open index.html
<body>
<div class="app">
<h1>Apache Cordova</h1>
<div id="deviceready" class="blink">
<button id = "dialogAlert">ALERT</button>
<button id = "dialogConfirm">CONFIRM</button>
<button id = "dialogPrompt">PROMPT</button>
<button id = "dialogBeep">BEEP</button>
<p class="event listening">Connecting to Device</p>
<p class="event received">Device is Ready</p>
</div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract6b\www\js open index.js
var app = {
// Application Constructor
initialize: function() 
{
document.addEventListener('deviceready',this.onDevice
Ready.bind(this), false);
 
document.getElementById("dialogAlert").addEventListener("
click", dialogAlert);
document.getElementById("dialogConfirm").addEventListen
er("click", dialogConfirm);
document.getElementById("dialogPrompt").addEventListen
er("click", dialogPrompt);
document.getElementById("dialogBeep").addEventListener(
"click", dialogBeep);
},
app.initialize();
function dialogAlert() 
{
 var message = "I am Alert Dialog!";
 var title = "ALERT";
 var buttonName = "Alert Button";
 navigator.notification.alert(message, alertCallback, title, 
buttonName);
 function alertCallback() 
 {
 console.log("Alert is Dismissed!");
 }
}
function dialogConfirm() 
{
 var message = "Am I Confirm Dialog?";
 var title = "CONFIRM";
 var buttonLabels = "YES,NO";
 navigator.notification.confirm(message, confirmCallback, 
title, buttonLabels);
 function confirmCallback(buttonIndex) 
 {
 console.log("You clicked " + buttonIndex + " button!");
 }
}
function dialogPrompt() 
{
 var message = "Am I Prompt Dialog?";
 var title = "PROMPT";
 var buttonLabels = ["YES","NO"];
 var defaultText = "Default"
 navigator.notification.prompt(message, promptCallback, 
 title, buttonLabels, defaultText);
 function promptCallback(result) 
 {
 console.log("You clicked " + result.buttonIndex + " 
button! \n" + 
 "You entered " + result.input1);
 }
}
function dialogBeep() 
{
 var times = 2;
 navigator.notification.beep(times);
}
•On command prompt
cordova build android 
cordova emulate android
Practical 7 
AIM:- To install and use file plugin. 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract7
cordova create pract7 io.cordova.hellocordova FileApp
•To add platform
cd pract7
cordova platform add android
•To add plugin
cordova plugin add cordova-plugin-file
•In E:\SYITMP\pract7\www open index.html
<body>
<div class="app">
<h1>Apache Cordova</h1>
<div id="deviceready" class="blink">
<button id = "createFile">CREATE FILE</button>
<button id = "writeFile">WRITE FILE</button>
<button id = "readFile">READ FILE</button>
<button id = "removeFile">DELETE FILE</button>
<textarea id = "textarea"></textarea>
<p class="event listening">Connecting to Device</p>
<p class="event received">Device is Ready</p>
</div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract7\www\js open index.js
var app = {
// Application Constructor
initialize: function() 
{
document.addEventListener('deviceready',this.onDevice
Ready.bind(this), false);
document.getElementById("createFile").addEventListener("
click", createFile);
document.getElementById("writeFile").addEventListener("cli
ck", writeFile);
document.getElementById("readFile").addEventListener("cli
ck", readFile);
document.getElementById("removeFile").addEventListener(
"click", removeFile);
},
app.initialize();
function createFile() 
{
 var type = window.TEMPORARY;
 var size = 5*1024*1024;
 window.requestFileSystem(type, size, successCallback, 
errorCallback)
 function successCallback(fs) 
{
 fs.root.getFile('log.txt', {create: true, exclusive: true}, 
function(fileEntry) 
{
 alert('File creation successfull!')
}, errorCallback);
 }
function errorCallback(error) 
{
 alert("ERROR: " + error.code)
}
}
function writeFile() 
{
 var type = window.TEMPORARY;
 var size = 5*1024*1024;
 window.requestFileSystem(type, size, successCallback, 
errorCallback)
 function successCallback(fs) 
{
 fs.root.getFile('log.txt', {create: true}, function(fileEntry) 
{
 fileEntry.createWriter(function(fileWriter) 
{
 fileWriter.onwriteend = function(e) 
{
 alert('Write completed.');
};
 fileWriter.onerror = function(e) 
{
 alert('Write failed: ' + e.toString());
};
 var blob = new Blob(['File Handling in Cordova'], 
{type: 'text/plain'});
 fileWriter.write(blob);
 }, errorCallback);
 }, errorCallback);
}
function errorCallback(error) 
{
 alert("ERROR: " + error.code)
}
}
function readFile() 
{
 var type = window.TEMPORARY;
 var size = 5*1024*1024;
 window.requestFileSystem(type, size, successCallback, 
errorCallback)
 function successCallback(fs) 
{
 fs.root.getFile('log.txt', {}, function(fileEntry) 
{
 fileEntry.file(function(file) 
{
 var reader = new FileReader();
 reader.onloadend = function(e) 
{
 var txtArea = document.getElementById('textarea');
 txtArea.value = this.result;
};
 reader.readAsText(file);
 }, errorCallback);
 }, errorCallback);
}
function errorCallback(error) 
{
 alert("ERROR: " + error.code)
}
}
function removeFile() 
{
 var type = window.TEMPORARY;
 var size = 5*1024*1024;
 window.requestFileSystem(type, size, successCallback, 
errorCallback)
 function successCallback(fs) 
{
 fs.root.getFile('log.txt', {create: false}, function(fileEntry) 
{
 fileEntry.remove(function() 
{
 alert('File removed.');
 }, errorCallback);
 }, errorCallback);
}
 function errorCallback(error) 
{
 alert("ERROR: " + error.code)
}
}
•On command prompt
cordova build android 
cordova emulate android
Practical 8 
AIM:- To install and use globalization plugin. 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract8
cordova create pract8 io.cordova.hellocordova FileApp
•To add platform
cd pract8
cordova platform add android
•To add plugin
cordova plugin add cordova-plugin-globalization
•In E:\SYITMP\pract8\www open index.html
<body>
<div class="app">
<h1>Apache Cordova</h1>
<div id="deviceready" class="blink">
<button id ="getLanguage">LANGUAGE</button><br><br>
<button id = "getLocaleName">LOCALE NAME
</button><br><br>
<button id = "getDate">DATE</button><br><br>
<button id = "getCurrency">CURRENCY</button><br><br>
<p class="event listening">Connecting to Device</p>
<p class="event received">Device is Ready</p>
</div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract8\www\js open index.js
var app = {
// Application Constructor
initialize: function() 
{
document.addEventListener('deviceready',this.onDevice
Ready.bind(this), false); 
document.getElementById("getLanguage").addEvent
Listener("click", getLanguage);
document.getElementById("getLocaleName").addEvent
Listener("click", getLocaleName);
document.getElementById("getDate").addEventListener
("click", getDate);
document.getElementById("getCurrency").addEventListener
("click", getCurrency);
},
app.initialize();
function getLanguage() 
{
navigator.globalization.getPreferredLanguage(onSuccess, 
onError);
function onSuccess(language) 
{
 alert('language: ' + language.value + '\n');
}
function onError()
{
 alert('Error getting language');
}
}
function getLocaleName() 
{
 navigator.globalization.getLocaleName(onSuccess, 
onError);
function onSuccess(locale) 
{
 alert('locale: ' + locale.value);
}
function onError()
{
 alert('Error getting locale');
}
}
function getDate() 
{
 var date = new Date();
 var options = 
{
 formatLength:'short',
 selector:'date and time'
 }
 navigator.globalization.dateToString(date, 
onSuccess, onError, options);
function onSuccess(date) 
{
 alert('date: ' + date.value);
}
function onError()
{
 alert('Error getting dateString');
}
}
function getCurrency() 
{
 var currencyCode = 'EUR';
 navigator.globalization.getCurrencyPattern(currencyCode, 
onSuccess, onError);
 function onSuccess(pattern) 
{
 alert('pattern: ' + pattern.pattern + '\n' +
 'code: ' + pattern.code + '\n' +
 'fraction: ' + pattern.fraction + '\n' +
 'rounding: ' + pattern.rounding + '\n' +
 'decimal: ' + pattern.decimal + '\n' +
 'grouping: ' + pattern.grouping);
}
function onError()
{
 alert('Error getting pattern');
}
}
•On command prompt
cordova build android 
cordova emulate android
Practical 9 
AIM:- To install and use network information plugin. 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract9
cordova create pract9 io.cordova.hellocordova 
NetworkInfoApp
•To add platform
cd pract9
cordova platform add android
•To add plugin
cordova plugin add cordova-plugin-network-information
•In E:\SYITMP\pract9\www open index.html
<body>
<div class="app">
<h1>Network Info App</h1>
<div id="deviceready" class="blink">
<button id = "networkInfo">INFO</button>
<p class="event listening">Connecting to Device</p>
<p class="event received">Device is Ready</p>
</div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract9\www\js open index.js
var app = {
// Application Constructor
initialize: function() 
{
document.addEventListener('deviceready',this.onDevice
Ready.bind(this), false); 
document.getElementById("networkInfo").addEventListener
("click", networkInfo);
document.addEventListener("offline", onOffline, false);
document.addEventListener("online", onOnline, false);
},
app.initialize();
function networkInfo() 
{
 var networkState = navigator.connection.type;
 var states = {};
 states[Connection.UNKNOWN] = 'Unknown connection';
 states[Connection.ETHERNET] = 'Ethernet connection';
 states[Connection.WIFI] = 'WiFi connection';
 states[Connection.CELL_2G] = 'Cell 2G connection';
 states[Connection.CELL_3G] = 'Cell 3G connection';
 states[Connection.CELL_4G] = 'Cell 4G connection';
 states[Connection.CELL] = 'Cell generic connection';
 states[Connection.NONE] = 'No network connection';
 alert('Connection type: ' + states[networkState]);
}
function onOffline() 
{
 alert('You are now offline!');
}
function onOnline() 
{
 alert('You are now online!');
}
•On command prompt
cordova build android 
cordova emulate android
Practical 10A 
AIM:- To create single page application and perform 
arithmetic operations. 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract10a
cordova create pract10a io.cordova.hellocordova 
SinglePageApp
•To add platform
cd pract10a
cordova platform add android
•In E:\SYITMP\pract10a\www open index.html
<body>
<div class="app">
<h1>Apache Cordova</h1>
<div id="deviceready" class="blink">
<p class="event listening">Connecting to Device</p>
<p class="event received">Arithmetic Operation</p><br>
<label>Enter Name:</label><br>
<input type="text" id="name"/><br><br>
<label>Enter First Number:</label><br>
<input type="text" id="num1"/><br><br>
<label>Enter Second Number::</label><br>
<input type="text" id="num2"/><br><br>
<button type="submit" id="submit">SUBMIT</button>
</div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
• In E:\SYITMP\pract10a\www\js open index.js
onDeviceReady: function() 
{
this.receivedEvent('deviceready'); 
document.getElementById("submit").addEventListener(
"click",show1);
};
app.initialize();
function show1()
{
var name=document.getElementById("name").value;
var 
num1=parseInt(document.getElementById("num1").value)
var
num2=parseInt(document.getElementById("num2").value);
var add=num1+num2;
var sub=num1-num2;
var mul=num1*num2;
var div=num1/num2;
alert("The Operation is performed by:" +name +"\n\n"+
 "Addition: " + add + "\n\n" +
 "Subtraction: " + sub + "\n\n" +
 "Multiplication: " + mul + "\n\n" +
 "Division: " + div + "\n\n");
}
•On command prompt
cordova build android 
cordova emulate android
Practical 10B 
AIM:- To create multi page application 
• Open command prompt and go to directory SYITMP in E: 
drive 
cd SYITMP
•To create first app named pract10b
cordova create pract10b io.cordova.hellocordova MultiApp
•To add platform
cd pract10b
cordova platform add android
•In E:\SYITMP\pract10b\www open index.html
<body>
<link rel="stylessheet" type="text/css"
href="css/index.css">
<link rel="stylessheet" type="text/css" 
href="css/index.css">
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<form action="index2.html">
<div class="bar bar-header bar-positive" style="marginbottom:120px;">
<h1>First Page</h1>
</div>
<div id="deviceready" class="blink">
<p class="event listening">Connecting to Device</p>
<p class="event received">Employee Basic
Details</p><br><br>
<label>Enter First Name:</label><br><br>
<input type="text" id="fname"/><br><br>
<label>Enter Last Name:</label><br>
<input type="text" id="lname"/><br><br>
<label>Enter age:</label><br>
<input type="text" id="age"/><br><br>
<button type="submit" id="add">SHOW</button>
</div>
</form> 
</body>
•Make a copy of index.html and name it is as index2.html
<body>
<link rel="stylessheet" type="text/css"
href="css/index.css">
<link rel="stylessheet" type="text/css" 
href="css/index.css">
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<form action="index3.html">
<div class="bar bar-header bar-positive" style="marginbottom:120px;">
<h1>Second Page</h1>
</div>
<div id="deviceready" class="blink">
<p class="event listening">Connecting to Device</p>
<p class="event received">Employee Other 
Details</p><br><br>
<label>select Your Qualification:</label><br><br>
<select id="quali" required><br><br>
<option value="B.Com">B.com</option>
<option value="B.Sc">B.sc</option>
<option value="B.A">B.A</option>
</select><br><br>
<label>select Your City:</label><br><br>
<select id="city" required><br><br>
<option value="pune">PUNE</option>
<option value="Mumbai">MUMBAI</option>
<option value="Nagpur">NAGPUR</option>
</select><br><br>
<button type="submit" id="add2">SHOW</button>
</div>
</form> 
</body>
•Make a copy of index.html and name it is as index3.html
<body>
<link rel="stylessheet" type="text/css"
href="css/index.css">
<link rel="stylessheet" type="text/css" 
href="css/index.css">
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<form>
<div class="bar bar-header bar-positive" style="marginbottom:120px;">
<h1>Third Page</h1>
</div>
<div id="deviceready" class="blink">
<p class="event listening">Connecting to Device</p>
<p class="event received">Employee All 
Details</p><br><br>
<label>Your First Name is:</label>
<label id="tfname"></label> <br><br>
<label>Your Last Name is:</label>
<label id="tlname"></label> <br><br>
<label>Your age is:</label>
<label id="tage"></label> <br><br>
<label> Your Qualification is:</label>
<label id="tquali"></label> <br><br>
<label> Your City is:</label>
<label id="tcity"></label> <br><br><br>
</div>
</form> 
</body>
• In E:\SYITMP\pract10a\www\js open index.js
onDeviceReady: function() 
{
 this.receivedEvent('deviceready'); 
document.getElementById("add").addEventListener(
"click" ,store);
}
app.initialize();
function store()
{
 var s=window.sessionStorage;
 var ln=document.getElementById("lname").value;
 s.setItem("lname",ln);
 var fn=document.getElementById("fname").value;
 s.setItem("fname",fn);
 var ag=document.getElementById("age").value;
 s.setItem("age",ag);
 alert("Hiii"+ " " + s.getItem("fname") + " " + 
s.getItem("lname") + "\n" +
 "Your age is: " + s.getItem("age"));
}
•Make a copy of index.js and name it index2.js
onDeviceReady: function()
{
 this.receivedEvent('deviceready'); 
document.getElementById("add2").addEventListener(
"click",store2);
app.initialize();
function store2()
{ 
var s=window.sessionStorage;
var qu=document.getElementById("quali").value;
s.setItem("quali",qu);
var ci=document.getElementById("city").value;
s.setItem("city",ci);
alert("Your Qualification is" + " " + s.getItem("quali") + " \n " 
+ "Your city is " + s.getItem("city"));
}
•Make a copy of index.js and name it index3.js
onDeviceReady: function() 
{
 this.receivedEvent('deviceready');
document.getElementById("tfname").innerHTML=session
Storage.getItem("fname"); 
document.getElementById("tlname").innerHTML=session
Storage.getItem("lname");
document.getElementById("tage").innerHTML=session
Storage.getItem("age");
document.getElementById("tquali").innerHTML=session
Storage.getItem("quali");
document.getElementById("tcity").innerHTML=session
Storage.getItem("city"); 
},
•On command prompt
cordova build android 
cordova emulate android
 
  -->